{{ partial "header.html" . }}
<div class="wrapper">
    <div class="section" id="top">
        <div class="container hero fade-in one">
            <h1 class="bold-title is-1">blog</h1>
        </div>
    </div>
    <div class="section fade-in two">
        <div class="container">
            {{ partial "nav-list.html" . }}
        </div>
        <div class="container fade-in two">
            <h2 class="title is-1 top-pad strong-post-title">{{ .Title }}</h2>
            <div class="post-data">
                {{ .Date.Format .Site.Params.dateform }} |
                {{ if eq 1 .ReadingTime }}
                {{ .ReadingTime }} minute read
                {{ else }}
                {{ .ReadingTime }} minutes read
                {{ end }}
            </div>
        </div>
        <div class="container markdown fade-in two top-pad">
            {{ .Content }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" }}