<div class="section no-padding fade-in three">
  <div class="section" id="skills">
    <div class="container">
      <hr>
      <h2 class="title is-2 has-text-centered">experience</h2>
      <hr>
      <div class="columns">
        <div class="column is-one-quarter cv-dates">
          March 2021 - present <br>
        </div>
        <div class="column is-three-quarters">
          <div class="cv-company-title">
            Rusatom Smart Utilities
          </div>
          <div class="cv-company-site">
            <a href="https://www.rusatom-utilities.ru">https://www.rusatom-utilities.ru</a>
          </div>
          <div class="cv-company-experience">
            <div class="cv-subtitle">responsibilities and achievements</div>
            <div class="markdown">
              developing company projects. TBD...
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="columns">
        <div class="column is-one-quarter cv-dates">
          october 2020 - february 2021 <br>
          (5 months)
        </div>
        <div class="column is-three-quarters">
          <div class="cv-company-title">Glorax Infotech</div>
          <div class="cv-company-site">
            <a href="https://glorax.io/en/">https://glorax.io/en/</a>
          </div>
          <div class="cv-company-experience">
            <div class="cv-subtitle">responsibilities and achievements</div>
            <div class="markdown">
              <p> development of backend for real estate startup</p>
              <p> main achievments:</p>
              <ul>
                <li>
                  development of architecture design for user's applications - based on state pattern and state
                  machines.
                  it worked out nicely, very flexible and reliable, any changes in business requirements where easy
                  to implement, developed nice high level abstraction and good classes hierarchy, achieved low cohesion
                  in code
                </li>
                <li>
                  flexible notification system - via email, text messages and websockets, mostly with laravel
                </li>
                <li>
                  integration with third-party services and partners - development in production environment,
                  with priced api calls, meticulous testing with full mocking of external api and thorough logging
                </li>
                <li>
                  test-coverage of backend to the level when we can deploy any time if tests in ci are passing and
                  not worrying about breaking anything (also implemented static analysis in ci/cd pipelines)
                </li>
                <li>
                  developed rapid system for working with any resources, following DRY principles
                </li>
                <li>
                  decomposition of features from business, managing tasks for development
                </li>
              </ul>
              <div class="cv-subtitle">why i left:</div>
              main investors decided to terminate project, so our team was disbanded
            </div>
          </div>
          <div class="cv-company-tech">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>