<div class="contact-icons">
    {{ if .Site.Params.twitter }}
    <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
    {{ end }}
    {{ if .Site.Params.vk }}
    <a href="https://vk.com/{{ .Site.Params.vk }}" target="_blank"><i class="fa fa-vk"></i></a>
    {{ end }}
    {{ if .Site.Params.github }}
    <a href="https://github.com/{{ .Site.Params.github }}" target="_blank"><i class="fa fa-github"></i></a> 
    {{ end }}
    {{ if .Site.Params.telegram }}
    <a href="https://telegram.me/{{ .Site.Params.telegram }}" target="_blank"><i class="fa fa-telegram"></i></a>
    {{ end }}
    {{ if .Site.Params.youtube }}
    <a href="{{ .Site.Params.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a>
    {{ end }}
    {{ if .Site.Params.twitch }}
    <a href="{{ .Site.Params.twitch }}" target="_blank"><i class="fa fa-twitch"></i></a>
    {{ end }}
</div>