<div class="contact-icons">
    <a href="https://github.com/belamov" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/belamov" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://telegram.me/belamov" target="_blank"><i class="fa fa-telegram"></i></a>
    <a href="https://vk.com/belamov" target="_blank"><i class="fa fa-vk"></i></a>
    <a href="https://www.instagram.com/belamov/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UC6pW-dee2xb1wWF4M58k-Sg" target="_blank"><i class="fa fa-youtube"></i></a>
    <a href="https://www.twitch.tv/belamov" target="_blank"><i class="fa fa-twitch"></i></a>
</div>