<!-- 
    Hey! Thanks for looking at my code! You win a cookie. :) The nice kind with chocolate chips, not the sneaky spying kind.

    This page was originally created for the Personal Portfolio Webpage challenge on FreeCodeCamp's Front End Development Certification course. It's totally responsive, and the first web page I ever coded from scratch.

    Enjoy, and I hope you find what you're looking for! If you have questions or want to get in touch, please do: hello@vickylai.com.
-->
{{ partial "header.html" . }}
<div class="wrapper">
    <div class="section no-padding" id="top">
        <div class="hero is-{{ .Site.Params.introheight }}">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="bold-title fade-in one">Hi, I'm {{ .Site.Params.firstname }}</h1>
                    <h3 class="subtitle is-3 fade-in two">{{ .Site.Params.tagline }}</h3>
                    <div class="fade-in three">{{ partial "social.html" . }}</div>
                    {{ if .Site.Params.email }}
                    <h3 class="subtitle is-3 has-text-centered top-pad fade-in three">
                        <a href="mailto:{{ .Site.Params.email }}">
                            {{ .Site.Params.email }}
                        </a>
                    </h3>
                    {{ end }}
                </div>
            </div>
            <div class="hero-foot fade-in three container">
                <hr>
                <div class="container">
                    <div class="columns is-fullwidth has-text-centered">
                        <div class="column nav-item">
                            <a href="#about">About</a>
                        </div>
                        <div class="column nav-item">
                            <a href="/projects/">Projects</a>
                        </div>
                        <div class="column nav-item">
                            <a href="/blog/">Blog</a>
                        </div>
                        <div class="column nav-item">
                            <a href="/bookshelf/">Bookshelf</a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="section no-padding fade-in three">
        <div class="section" id="about">
            <div class="container">
                <h2 class="title is-2 has-text-centered">About</h2>
                <div class="columns">
                    <div class="column is-one-third has-text-centered"><img class="img-responsive avatar"
                                                                            src="/{{ .Site.Params.avatar }}"
                                                                            alt="My profile picture.">
                    </div>
                    <div class="column markdown">
                        {{ range .Data.Pages }}
                            {{if eq .Title "about" }}
                                {{.Content}}
                            {{end}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" }}