{{ partial "header.html" . }}
<div class="wrapper">
    <div class="section" id="top">
        <div class="container fade-in one">
            <h1 class="bold-title is-1">Blog</h1>
        </div>
        <div class="section fade-in two">
            <div class="container">
                {{ partial "nav-list.html" . }}
            </div>
            <div class="container top-pad">
                {{ range .Data.Pages.ByPublishDate.Reverse }}
                    {{ if eq .Section "blog" }}
                        <div class="section no-padding">
                            <div class="summary">
                                <h3 class="title is-3 strong-post-title">
                                    <a href="{{ .RelPermalink }}">
                                        {{ .Title }}
                                    </a>
                                </h3>
                                {{ .Date.Format .Site.Params.dateform }} |
                                {{ if eq 1 .ReadingTime }}
                                    {{ .ReadingTime }} minute read
                                {{ else }}
                                    {{ .ReadingTime }} minutes read
                                {{ end }}
                                <div class="markdown top-pad">
                                    {{ .Summary }}
                                    {{ if .Truncated }}
                                    <a href="{{ .RelPermalink }}">...Read More</a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <hr>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" }}