{{ partial "header.html" . }}
<div class="wrapper">
    <div class="section">
        <div class="section" id="top">
            <div class="container hero fade-in one">
                <h1 class="bold-title is-1">my cv</h1>
            </div>
            <div class="section no-padding fade-in two">
                <div class="container">
                    {{ partial "nav-list.html" . }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section no-padding fade-in three">
                <h2 class="title is-2 has-text-centered">about</h2>
                <hr>
                <div class="columns">
                    <div class="column is-one-third has-text-centered"><img class="img-responsive avatar"
                                                                            src="/{{ .Site.Params.avatar }}"
                                                                            alt="My profile picture.">
                    </div>
                    <div class="column markdown">
                        {{.Content}}
                    </div>
                </div>
            </div>
        </div>
        {{partial "skills.html" }}

        <div class="container">
            <div class="section no-padding fade-in three">
                <hr>
                <h2 class="title is-2 has-text-centered">experience</h2>
                <hr>
                <div class="columns">
                    <div class="column is-one-quarter cv-dates">
                        november 2021 - present <br>
                    </div>
                    <div class="column is-three-quarters">
                        <div class="cv-company-title">
                            growfood
                        </div>
                        <div class="cv-company-site">
                            <a href="https://growfood.pro" target="_blank">https://growfood.pro</a>
                        </div>
                        <div class="cv-company-experience">
                            <div class="markdown">
                                Logistics Team (5 Full Stack Developers)
                                <ul>
                                    <li>Developed functionality for selling warehouse stocks, reducing expenses due to
                                        forecast inaccuracies.
                                    </li>
                                    <li>Created a process for managing incidents during packaging, increasing customer
                                        loyalty and packaging process monitoring.
                                    </li>
                                    <li>Implemented part of the packages labeling functionality, enabling the
                                        introduction of new warehouse processes
                                    </li>
                                    <li>Developed integration functionality with partners, where our company acted as a
                                        logistics provider.
                                        <ul>
                                            <li>Enabled communication between couriers and managers through an internal
                                                communication system, automating integrations between companies without
                                                changes to courier processes.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Handled various tasks supporting and improving warehouse processes</li>
                                </ul>
                            </div>
                            <div class="cv-subtitle">applied skills:</div>
                            <p>
                                php, laravel, vue.js, postgreSQL, javascript, git, phpUnit, OOP
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-one-quarter cv-dates">
                        march 2021 - november 2021 <br>
                        (9 months)
                    </div>
                    <div class="column is-three-quarters">
                        <div class="cv-company-title">
                            rusatom smart utilities
                        </div>
                        <div class="cv-company-site">
                            <a href="https://www.rusatom-utilities.ru"
                               target="_blank">https://www.rusatom-utilities.ru</a>
                        </div>
                        <div class="cv-company-experience">
                            <div class="cv-subtitle">responsibilities and achievements</div>
                            <div class="markdown">
                                <ul>
                                    <li>Managed backend and frontend development for an educational integrator
                                        <ul>
                                            <li>Created features for employer, vacancy, and application management</li>
                                            <li>Implemented resume generation in PDF format from user data</li>
                                            <li>Designed and implemented a full-text search using Elasticsearch with
                                                ranking and language processing (typos, synonyms).
                                            </li>
                                            <li>Developed employer profiles and accounts</li>
                                        </ul>
                                    </li>
                                    <li>Worked on backend development for regional portals, integrating with national
                                        and regional project management systems
                                        <ul>
                                            <li>Integrated three systems (our portal, data bus, data source),
                                                identifying and resolving issues in the data source.
                                            </li>
                                            <li>Took ownership of data bus enhancements to improve speed and reduce
                                                dependency on other teams
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="cv-subtitle">applied skills:</div>
                            <p>
                                php, laravel, javascript, vuejs, postgresql, elasticsearch, git, docker, composer,
                                phpunit
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-one-quarter cv-dates">
                        october 2020 - february 2021 <br>
                        (5 months)
                    </div>
                    <div class="column is-three-quarters">
                        <div class="cv-company-title">glorax infotech</div>
                        <div class="cv-company-site">
                            <a href="https://glorax.io/en/" target="_blank">https://glorax.io/en/</a>
                        </div>
                        <div class="cv-company-experience">
                            <div class="cv-subtitle">responsibilities and achievements:</div>
                            <div class="markdown">
                                <p>Developed backend for a real estate auction startup</p>
                                <p>Startup Team (2 Backend Developers, 2 Frontend Developers)</p>
                                <ul>
                                    <li>Architected processes for application requests using the finite state machine
                                        pattern, achieving flexibility, resilience, and low code coupling
                                    </li>
                                    <li>Implemented a flexible notification system using email, SMS, and websockets
                                        primarily with Laravel tools
                                    </li>
                                    <li>Integrated with marketing and partner services, ensuring thorough logging for
                                        prompt issue identification and extensive API testing.
                                    </li>
                                    <li>Ensured comprehensive test coverage, enabling confident deployments after
                                        successful Bitbucket pipeline execution (including static code analysis).
                                    </li>
                                    <li>Decomposed high-level business requirements into specific development tasks</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cv-subtitle">applied skills:</div>
                        <p>
                            php, laravel, postgresql, phpunit, websockets, docker
                        </p>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-one-quarter cv-dates">
                        february 2019 - october 2020 <br>
                        (1 year, 9 months)
                    </div>
                    <div class="column is-three-quarters">
                        <div class="cv-company-title">gradient</div>
                        <div class="cv-company-site">
                            <a href="https://gradientpro.ru/" target="_blank">https://gradientpro.ru/</a>
                        </div>
                        <div class="cv-company-experience">
                            <div class="cv-subtitle">responsibilities and achievements:</div>
                            <div class="markdown">
                                <p>
                                    Developed internal company projects
                                </p>
                                <p>
                                    Utilized Laravel for backend (API) development and Vue.js with Vuetify for frontend (SPA) development across all projects.
                                </p>
                                <ul>
                                    <li>Created an organizer application for employees attending exhibitions.
                                        The application included features such as a meeting calendar, management of exhibition samples,
                                        checklist management for booth visits, flexible supplier filtering, and data export to Excel/PowerPoint.</li>
                                    <li>Developed a website with a library-like functionality for booking samples. Implemented two-way synchronization with the main data bus.</li>
                                    <li>Created an application to visualize production processes, acting as a wrapper over BPMN processes. Tasks were automatically exported to a task manager. Camunda was used to manage BPMN processes</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cv-subtitle">applied skills:</div>
                        <p>
                            php, laravel, javascript, vue.js, vuetify, postgresql, mysql, docker
                        </p>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-one-quarter cv-dates">
                        august 2018 - january 2019 <br>
                        (6 months)
                    </div>
                    <div class="column is-three-quarters">
                        <div class="cv-company-title">gor</div>
                        <div class="cv-company-experience">
                            <div class="cv-subtitle">responsibilities and achievements:</div>
                            <div class="markdown">
                                <ul>
                                    <li>Collaborated with a small team to develop multiplayer online games</li>
                                    <li>Developed three games for a client, each with distinct gameplay mechanics</li>
                                    <li>Utilized PHP, Laravel, MySQL, Redis for one game and Node.js, MongoDB, PostgreSQL, RabbitMQ, Redis for the other two games</li>
                                    <li>Designed and implemented bots with unique behavior patterns.</li>
                                    <li>Created a Vue.js frontend for testing and responsiveness.</li>
                                    <li>Implemented an admin panel using Laravel Nova that interacted with the APIs and sockets</li>
                                </ul>

                            </div>
                        </div>
                        <div class="cv-subtitle">applied skills:</div>
                        <p>
                            php, laravel, mysql, nodejs, mongodb, javascript, vuejs, docker, redis, rabbitmq
                        </p>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-one-quarter cv-dates">
                        may 2017 - august 2018 <br>
                        (1 year 4 months)
                    </div>
                    <div class="column is-three-quarters">
                        <div class="cv-company-title">begining of career</div>
                        <div class="cv-company-experience">
                            <div class="markdown">
                                <ul>
                                    <li>Gained experience through various companies, learned the profession, and familiarized myself with the industry.</li>
                                    <li>Worked on multiple Bitrix projects</li>
                                    <li>Developed proficiency in Laravel</li>
                                    <li>Participated in studio-style development of various projects</li>
                                </ul>
                            </div>
                        </div>
                        <div class="cv-subtitle">applied skills:</div>
                        <p>
                            bitrix, laravel, php, javascript, html, css, git, oop
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" }}