{{ partial "header.html" . }}
<div class="wrapper">
    <div class="section" id="top">
        <div class="container hero fade-in one">
            <h1 class="bold-title is-1">My projects</h1>
        </div>
        <div class="section no-padding fade-in two">
            <div class="container">
                {{ partial "nav-list.html" . }}
            </div>
            <div class="container">
                <div class="columns is-multiline">
                    {{ range .Data.Pages.ByPublishDate }}
                        {{ if eq .Section "projects" }}
                            <div class="column is-one-third">
                                <a href="{{ .RelPermalink }}">
                                    <div class="card is-one-third">
                                        <div class="card-image">
                                            <figure class="image">
                                                <img src="{{ .Params.imagelink }}" alt="{{ .Title }}">
                                            </figure>
                                        </div>
                                        <div class="card-content title has-text-centered">
                                            {{ .Title }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="container has-text-centered top-pad">
                <hr>
                <a href="#top">TOP</a>
                <hr>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" }}